<!DOCTYPE html>
<html lang="en">
  <link
  rel="stylesheet"
  href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
  integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
  crossorigin="anonymous"
/>
<link
  rel="stylesheet"
  href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.1/css/all.min.css"
/>
<style>
  body {
    width: 100vw;
    height: 100vh;
    overflow: hidden;
  }

  #authentication-status {
    font-size: 4em;
    display: table;
    visibility: visible;
    overflow: hidden;
    width: 100%;
    height: 100%;
  }

  #authentication-status .info {
    font-size: 0.4em;
  }

  #authentication-status .logo {
    font-size: 4em;
  }

  .alert {
    visibility: hidden;
    text-align: center;
  }
</style>
  <head>
    <meta charset="UTF-8" />
  
    <title>>_TruCoder</title>
  </head>
  <body>
    <div class="alert alert-danger" id="authentication-status" role="alert">
      <div style="display: table-cell; vertical-align: middle;">
        <div class="logo">
          >_
        </div>
        <div>Error 404</div>
        <div class="info">
          <a
            href="https://github.com/MaskedCarrot"
            style="color: inherit;"
            > <i class="fab fa-github"></i></a
            >
        </div>
      </div>
    </div>
  </body>
</html>